@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 2500px) {
  h1 {
    font-size: 3.5rem;
  }
  h2, .box-1 span {
    font-size: 2.6rem;
  }
  p, button, footer {
    font-size: 2.3rem;
  }
  .box-2 span {
    font-size: 4.6rem;
  }
  .box-3 p {
    font-size: 1.955rem;
  }
}
@media (max-width: 2500px) {
  h1 {
    font-size: 2.8rem;
  }
  h2, .box-1 span {
    font-size: 2.1rem;
  }
  p, button, footer {
    font-size: 1.9rem;
  }
  .box-2 span {
    font-size: 3.8rem;
  }
  .box-3 p {
    font-size: 1.615rem;
  }
}
@media (max-width: 2000px) {
  h1 {
    font-size: 2.3rem;
  }
  h2, .box-1 span {
    font-size: 1.7rem;
  }
  p, button, footer {
    font-size: 1.4rem;
  }
  .box-2 span {
    font-size: 2.8rem;
  }
  .box-3 p {
    font-size: 1.19rem;
  }
}
@media (max-width: 1500px) {
  h1 {
    font-size: 1.65rem;
  }
  h2, .box-1 span {
    font-size: 1.25rem;
  }
  p, button, footer {
    font-size: 0.95rem;
  }
  .box-2 span {
    font-size: 1.9rem;
  }
  .box-3 p {
    font-size: 0.8075rem;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 1.15rem;
  }
  h2, .box-1 span {
    font-size: 0.85rem;
  }
  p, button, footer {
    font-size: 0.75rem;
  }
  .box-2 span {
    font-size: 1.5rem;
  }
  .box-3 p {
    font-size: 0.6375rem;
  }
}
@media (max-width: 800px) {
  body .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 90%;
    border-radius: 2vw;
  }
  body .wrapper br {
    display: none;
  }
  body .wrapper div[class^=box] {
    padding: 3.5vh 6.5vw;
    height: 25vh;
  }
  body .wrapper .box-1 p {
    line-height: 3vh;
  }
  body .wrapper .box-2 button {
    border-radius: 2vw;
  }
}
body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50%;
  width: 55%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4vw;
  box-shadow: 0.2vw 0.2vw 1.5vw -0.3vw hsl(218, 22%, 67%);
  overflow: hidden;
}
.wrapper div[class^=box] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.5vh 2.5vw;
}
.wrapper .box-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  color: hsl(218, 22%, 67%);
  background-color: hsl(0, 0%, 100%);
  gap: 1vh;
}
.wrapper .box-1 p {
  line-height: 4vh;
}
.wrapper .box-1 span {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  margin: 2vh 0 1vh;
}
.wrapper .box-2, .wrapper .box-3 {
  color: hsl(0, 0%, 100%);
}
.wrapper .box-2 {
  background-color: hsl(179, 62%, 43%);
}
.wrapper .box-2 #price {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: hsla(0, 0%, 100%, 0.6);
}
.wrapper .box-2 #price span {
  color: hsl(0, 0%, 100%);
}
.wrapper .box-2 button {
  width: 100%;
  height: 30%;
  border: none;
  border-radius: 0.6vw;
  background-color: hsl(71, 73%, 54%);
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-weight: 700;
  box-shadow: 0.1vw 0.3vw 0.7vw -0.1vw hsla(0, 0%, 0%, 0.3);
  margin-top: 2vh;
}
.wrapper .box-2 button:hover {
  cursor: pointer;
}
.wrapper .box-3 {
  background-color: hsl(179, 62%, 47%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  color: hsl(218, 22%, 40%);
}
footer a {
  text-decoration: none;
  color: hsl(218, 22%, 50%);
  transition: 0.7s;
}
footer a:hover {
  color: hsl(218, 22%, 67%);
}/*# sourceMappingURL=main.css.map */